<div class="landing">
  <div class="landing-inner">
    <h1 class="title">Languages</h1>
    <div class="card-container">
      <app-category-cards language="C#" description="View projects using C# that include ASP.NET, WPF, and Unity."
        color="purple" imgSrc="assets/img/c-sharp-logo.png">
      </app-category-cards>
      <app-category-cards language="Javascript" description="View web apps built using javascript libraries."
        color="yellow" imgSrc="assets/img/js-logo.png">
      </app-category-cards>
      <app-category-cards language="Python" description="View machine learning and data analysis projects using python."
        color="blue" imgSrc="assets/img/python-logo.png">
      </app-category-cards>
    </div>
  </div>
</div>